<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Tsunami Aceh 2004</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <img src="../Assets/logoo.jfif" class="logo">
            <div class="nav-linkss" id="nav-linkss">
                <a href="../#studi-kasus">Back</a>
            </div>
        </nav>
    </header>
    <main>
        <section class="content-section3">
            <h2>Tsunami Aceh 2004</h2>
            <div class="slideshow-container">
                <div class="mySlides fade">
                    <img src="../Assets/aceh1.jpeg" style="width:100%">
                    <a href="BMKG.go.id research.net">Sumber: BMKG.go.id research.net</a>
                </div>
                <div class="mySlides fade">
                    <img src="../Assets/aceh2.jpeg" style="width:100%">
                    <a href="https://sejarah.dibi.bnpb.go.id/story-map/Menelusuri-Tsunami-Aceh-2004/47">Sumber: https://sejarah.dibi.bnpb.go.id/story-map/Menelusuri-Tsunami-Aceh-2004/47</a>
                </div>
                <div class="mySlides fade">
                    <img src="../Assets/aceh3.jpeg" style="width:100%">
                    <a href="https://sejarah.dibi.bnpb.go.id/story-map/Menelusuri-Tsunami-Aceh-2004/47">Sumber: https://sejarah.dibi.bnpb.go.id/story-map/Menelusuri-Tsunami-Aceh-2004/47</a>
                </div>
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <br>
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span> 
                <span class="dot" onclick="currentSlide(2)"></span> 
                <span class="dot" onclick="currentSlide(3)"></span> 
            </div>
            <p>Pada 26 Desember 2004 lalu, tepatnya pada pukul 07:58:53 WIB, terjadi sebuah gempa di Banda Aceh, disusul tsunami besar yang meluluhlantahkan sebagian besar wilayah di Banda Aceh. Dikutip dari Jurnal “Tsunami Aceh 2004 Sebagai Dasar Penataan Ruang Kota Meulaboh”, gempa bumi tektonik berpusat di titik 3.316°N, 95.854°E Samudera Hindia dengan kekuatan 9,1 Mw.
            </p>
            <p>Gempa tersebut bahkan disebut sebagai gempa terbesar ke-5 yang pernah terjadi dalam sejarah. Lalu timbul gelombang tsunami setinggi 30 meter.
            </p>
            <p>Tidak hanya di Indonesia, ada 15 negara yang terdampak dalam peristiwa ini, namun yang mengakibatkan korban jiwa adalah di Sri Lanka, India, Bangladesh, Thailand, Maladewa, Malaysia, dan Somalia. Menurut data Bank Dunia, ada 169.000 jiwa korban meninggal dari Indonesia, sementara total keseluruhan korban mencapai 230.000 jiwa di negara-negara terdampak.</p>
        </section>
    </main>
    <footer>
        <div class="footer-content">
            <p>&copy;  2024 Geografi XI IPS 2 Tsunami.</p>
        </div>
    </footer>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
      const hamburger = document.getElementById('hamburger');
      const navLinks = document.getElementById('nav-links');
  
      hamburger.addEventListener('click', function() {
          navLinks.classList.toggle('active');
         });
        });
  
      </script>
    <script src="../script/script.js"></script>
</body>
</html>
