<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Tsunami Jepang 2011</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <img src="../Assets/logoo.jfif" class="logo">
            <div class="nav-linkss" id="nav-linkss">
                <a href="../#studi-kasus">Back</a>
            </div>
        </nav>
    </header>
    <main>
        <section class="content-section3">
            <h2>Tsunami Jepang 2011</h2>
            <div class="slideshow-container">
                <div class="mySlides fade">
                    <img src="../Assets/jpn1.jpeg" style="width:100%">
                </div>
                <div class="mySlides fade">
                    <img src="../Assets/jpn2.jpeg" style="width:100%">
                </div>
                <div class="mySlides fade">
                    <img src="../Assets/jpn3.jpeg" style="width:100%">
                </div>
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <br>
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span> 
                <span class="dot" onclick="currentSlide(2)"></span> 
                <span class="dot" onclick="currentSlide(3)"></span> 
            </div>
            <p>Dikutip dari laman berita kompas.com, 2023 Tragedi dimulai dari gempa berkekuatan M 9,0 yang terjadi pada pukul 14:46 waktu setempat. Pusat gempa terletak sekitar 130 km timur kota Sendai, prefektur Miyagi, pada kedalaman sekitar 30 km di bawah dasar Samudra Pasifik barat. Gempa 11 Maret 2011 adalah yang terkuat yang melanda wilayah tersebut sejak akhir abad ke-19, dan dianggap sebagai salah satu gempa bumi terkuat dalam sejarah. Guncangan gempa dirasakan hingga Petropavlovsk-Kamchatsky, Rusia; Kaohsiung, Taiwan; dan Beijing, China. Tak lama setelah guncangan gempa, gelombang setinggi 10 meter menerjang pantai dan membanjiri sebagian kota Sendai, termasuk bandara dan pedesaan sekitarnya. Pemukiman lain yang terkena dampak tsunami termasuk Kamaishi dan Miyako di Iwate; Ishinomaki, Kesennuma, dan Shiogama di Miyagi; dan Kitaibaraki dan Hitachinaka di Ibaraki.</p>

                <p>Laporan awal menyebutkan, jumlah korban tewas akibat bencana itu mencapai ratusan, dengan ratusan lainnya hilang. Saat pencarian korban berlanjut, jumlah resmi yang dipastikan tewas atau hilang naik menjadi sekitar 28.500. Namun, karena banyak orang yang dianggap hilang ditemukan masih hidup, angka itu mulai menurun; pada akhir 2011 korban tewas atau hilang tercatat sekitar 19.300. Pada akhirnya, data resmi jumlah orang yang tewas atau hilang akibat bencana tersebut adalah sekitar 18.500, meskipun perkiraan lain menyebutkan setidaknya 20.000.</p>
                
                <p>Dari jumlah tersebut, kurang dari 100 berasal dari prefektur selain Iwate, Miyagi, dan Fukushima. Prefektur Miyagi terdampak paling parah, dengan sekitar 10.800 tewas atau hilang dan 4.100 lainnya terluka. Sebagian besar dari mereka yang tewas secara keseluruhan adalah korban tenggelam dari gelombang tsunami. Selain itu, lebih dari separuh korban berusia 65 tahun atau lebih.</p>
        </section>
    </main>
    <footer>
        <div class="footer-content">
            <p>&copy;  2024 Geografi XI IPS 2 Tsunami.</p>
        </div>
    </footer>
    <script src="../script/script.js"></script>
</body>
</html>
