<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Tsunami Palu 2018</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <img src="../Assets/logoo.jfif" class="logo">
            <div class="nav-linkss" id="nav-linkss">
                <a href="../#studi-kasus">Back</a>
            </div>
        </nav>
    </header>
    <main>
        <section class="content-section3">
            <h2>Tsunami Palu 2018</h2>
            <div class="slideshow-container">
                <div class="mySlides fade">
                    <img src="../Assets/palu1.jpeg" style="width:100%">
                </div>
                <div class="mySlides fade">
                    <img src="../Assets/palu2.jpeg" style="width:100%">
                </div>
                <div class="mySlides fade">
                    <img src="../Assets/palu3.jpeg" style="width:100%">
                </div>
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <br>
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span> 
                <span class="dot" onclick="currentSlide(2)"></span> 
                <span class="dot" onclick="currentSlide(3)"></span> 
            </div>
            <p>Dilansir dari situs www.bnpb.go.id, 2018 gempabumi dengan kekuatan magnitude 7,7 yang kemudian dimutakhirkan oleh BMKG menjadi magnitudo 7,4 telah mengguncang wilayah Kota Palu dan Donggala, Sulawesi Tengah pada 28/9/2018 pukul 17.02 WIB. Pusat gempa pada 10 km pada 27 km Timur Laut Donggala, Sulawesi Tengah. Gempabumi berpotensi tsunami. BMKG telah mengaktivasi peringatan dini tsunami dengan status Siaga (tinggi potensi tsunami 0,5–3 meter) di pantai Donggala bagian barat, dan status Waspada (tinggi potensi tsunami kurang dari 0,5 meter) di pantai Donggala bagian utara, Mamuju bagian utara dan Kota Palu bagian barat. BMKG telah mengakhiri peringatan dini tsunami sejak 28/9/2018 pukul 17.36 WIB.</p>

                <p>Berdasarkan konfirmasi kepada BMKG, tsunami  terjadi menerjang pantai. Posko BNPB juga telah mengkonfirmasi ke BPBD bahwa tsunami telah menerjang pantai Talise di Kota Palu dan pantai di Donggala. Beberapa video yang didokumentasikan masyarakat dan disebarkan di sosial media mengenai tsunami di Kota Palu dan Donggala adalah benar. Gempa tsunami menimbulkan korban jiwa. Laporan sementara, terdapat beberapa korban yang meninggal karena tertimpa bangunan roboh. Tsunami juga menerjang beberapa permukiman dan bangunan yang ada di pantai.</p>
        </section>
    </main>
    <footer>
        <div class="footer-content">
            <p>&copy;  2024 Geografi XI IPS 2 Tsunami.</p>
        </div>
    </footer>
    <script src="../script/script.js"></script>
</body>
</html>
